<div class="card position-container">
  <div class="card-body position-container">
    <h5 class="card-title">Information for consuming API-REST</h5>
    <p class="card-text">This endpoint is only for payments</p>
    <img class="image" src="https://image.flaticon.com/icons/svg/1583/1583281.svg" alt="Not found">
  </div>
  <div class="end">Route</div>
</div>
